<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      <img src="{{ '/img/panda.png' | relative_url }}" alt="{{ site.title }}" style="max-height: 120px; display: inline-block; vertical-align: middle;">
    </a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ '/' | relative_url }}">Domů</a>
        <a class="page-link" href="{{ '/projekty/' | relative_url }}">Projekty</a>
        <a class="page-link" href="{{ '/clanky/' | relative_url }}">Články</a>
      </div>
    </nav>
  </div>
</header>