---
---
@import "minima";

body{
    background-color: #0A0A0A !important;
    color: #E0E0E0;
}

// Zajištění, aby byly vidět i všechny nadpisy a název webu
h1, h2, h3, h4, h5, h6, .site-title, .site-nav .page-link {
  color: #FFFFFF !important;
}

// Úprava horního menu/headeru, aby nesvítil bíle
.site-header {
  background-color: #0A0A0A !important;
  border-bottom: 1px solid #FFFFFF !important; /* Velmi jemná dělicí linka */
}

.site-title img {
  padding: 15px 0; /* 15 pixelů mezera nahoře a dole, 0 pixelů po stranách */
}