<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ '/' | relative_url }}">Domů</a>
        <a href="{{ '/clanky/' | relative_url }}">Články</a>
        <a href="https://github.com/JajajaCZ?tab=repositories" target="_blank">Projekty</a>
        <a href="https://github.com/JajajaCZ" target="_blank">Můj GitHub</a>
    </nav>
    <div class="maincontainer">
        <nav class="sidebar">
            <img src="{{ '/img/jajajacz.jfif' | relative_url }}">
            <div class="toplist-container">
                <a href="https://www.toplist.cz/stat/1841742/" id="toplistcz1841742" title="TOPlist">
                    <noscript>
                        <img src="https://toplist.cz/count.asp?id=1841742&logo=bc&njs=1">
                    </noscript>
                    <script language="JavaScript">
                    (function(d,e,s) 
                    {
                        d.getElementById('toplistcz1841742').innerHTML='<img src="https://toplist.cz/count.asp?id=1841742&logo=bc&http='+e(d.referrer)+'&t='+e(d.title)+'&l='+e(d.URL)+'&wi='+e(s.width)+'&he='+e(s.height)+'&cd='+e(s.colorDepth)+'" width="88" height="120" border="0" alt="TOPlist" />';
                    }
                    (document,encodeURIComponent,window.screen))
                    </script>
                </a>
            </div>
        </nav>
        <main class="card">
            <div class="mainheader">
                 <img src="{{ '/img/hacker.png' | relative_url }}" class="banner">
            </div>
            <hr>
            <article>
                {{ content }}  <!-- TADY SE ZOBRAZÍ TEXT ČLÁNKU -->
            </article>
        </main>
    </div>
</body>
</html>