<!DOCTYPE html>
<html lang="{{ site.lang | default: "cs" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/img/panda.ico' | relative_url }}">
  </head>
  <body>

    {% include header.html %}

    <main class="hlavni-obsah">
      {{ content }}
    </main>

  </body>
</html>