<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ '/' | relative_url }}">Domů</a>
        <a href="{{ '/clanky/' | relative_url }}">Články</a>
        <a href="https://github.com/JajajaCZ?tab=repositories" target="_blank">Projekty</a>
        <a href="https://github.com/JajajaCZ" target="_blank">Můj GitHub</a>
    </nav>
    <div class="maincontainer">
        <nav class="sidebar">
            <img src="{{ '/img/jajajacz.jfif' | relative_url }}">
             <div class="stats-card emoji-pattern">
                <div class="toplist-container">
                    <!-- Skripty nového počítadla -->
                     <a href='http://www.freevisitorcounters.com'>freevisitorcounters.com</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=ff7c07bac02893a79f885999f7eb01ec6684e9bc'></script>
                    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1544506/t/6"></script>
                </div>
            </div>     
        </nav>
        <main class="card">
            <article>
                {{ content }}  <!-- TADY SE ZOBRAZÍ TEXT ČLÁNKU -->
            </article>
        </main>
    </div>
</body>
</html>